body {
    margin: 0;
    font-family: 'Dancing Script', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dancing Script', serif;
}

.navigation-wrapper {
   height: 190px;
   background-color: none;
   color: #ffffff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 60px 100px;

}

.provo-cover {
    background-image: url(../NationalParks/Snow-mountains-cropped.jpg);
    padding: 200px;
    height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.left-column {

     display: flex;
    align-items: center;
    background--color: none;
    font-family: "Allura";
}

.header-styles {

    font-family: "Dancing Script", sans-serif;
    font-size: 1em;
}

.center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
   
}

.center-column .logo {
    display: flex;
    justify-content: center;

    
   
}

.logo img {
    width: 200px;
    height: 75px;
   
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-link {
    width: 70px;
    text-align: center;

    
}

.nav-link a {
    font-family: "dancing script", sans-serif;
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;

   
}

.nav-link a:hover {
    color: #bcca99;
    letter-spacing: 2px;
   
}

.right-column {
    display: flex;
    align-items: center;
   
}

.icon {
  
}

.icon-mr {
  
}

.icon-ml {
   
}

.homepage {
    background-image: url(assets/Snowy\ Timp.jpg);
    padding: 100px;
    height: 350px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   

}


.bottom-heading {
    background-color: none;
    color: blue;
    padding: 1px 20px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
    width:1100px;
    border-radius: 2px;
    font-family: "Allura";
    text-align: center;
}

.top-heading {
    background-color: none;
    color: Pink;
    padding: 1px 20px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
    width:1100px;
    border-radius: 2px;
    text-align: center;
}

.features-section {
    height: 350px;
    background-color: plum;
    border-top: 10px solid white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubunto Condensed", sans-serif;
    box-shadow: inset 0px -26px 79px -8px rgba(0,0,0,0.58);

   
}

.columns-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    
}

.column {
    padding: 20px;
    
    
}

.column:hover {
    
}

.column :nth-child(1) {
  
}

.column :nth-child(2) {
   
}

.column :nth-child(2):hover {
    
}

.column :nth-child(3) {
    l
}
